[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/lwip"]
	path = external/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
