/.idea/**
/build/
generated/config_html.h
generated/status_html.h
/.vscode/
/tests_build/
html/.idea
tests/build
tests/.idea
collector/.idea/.idea.collector.dir/.idea
collector/IpBeacon/bin/Debug/net8.0
collector/IpBeacon/obj
collector/.env
